<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<h3>오늘의 아티클</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatibus explicabo repudiandae dicta sint error distinctio nobis provident ex voluptate debitis dolorem, reprehenderit voluptas soluta voluptatem architecto quos, libero quidem!</p>
	<button (click)="isMakeLoginForm=true" class="btn btn-primary btn-xs" *ngIf="!isMakeLoginForm">로그인 하기</button>
	<login-form *ngIf="isMakeLoginForm"
		(loginSuccess)="isMakeLoginForm=false"></login-form>

	<button (click)="isMakeSignupForm=true" class="btn btn-info btn-xs" *ngIf="!isMakeSignupForm">가입 하기</button>
	<signup-form *ngIf="isMakeSignupForm"
		(signupSuccess)="isMakeSignupForm=false"></signup-form>	
</div>


